* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: rgb(98, 174, 162);
  background: linear-gradient(
    90deg,
    RGBA(128, 128, 128, 1) 0%,
    #ff5c44 20%,
    RGBA(128, 128, 128, 1) 100%
  );
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: 540px;
  background-color: white;
  /* color: white; */
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.todo-app h2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.216);
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 15px;
}
button {
  padding: 10px;
  border: none;
  outline: none;
  background-color: #ff5c44;
  border-radius: 40px;
  padding: 16px 50px;
  color: white;
  cursor: pointer;
  font-size: 15px;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(./images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 12px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(./images/checked.png);
}
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: grey;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover {
  background-color: rgb(66, 65, 65);
  transition: all 0.9s ease;
}
